.app-tabs {
    list-style-type: none;
    margin: 0;
    display: flex;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 0px 5px 0px rgba(#000, .2);

    li {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    a {
        display: inline-block;
        padding: 14px 0 8px;
        color: rgba(#000, .53);
        border-bottom: 6px solid transparent;

        &.active {
            border-bottom-color:#1d8dc6;
            color: #000;
        }
    }

    &--with-icon {
        a {
            display: inline-flex;
            align-items: center;
            font-size: 12px;
            border-bottom-width: 3px;

            img {
                margin-right: 8px;
            }
        }

        + .app-tab-content {
            padding-top: 70px;
        }
    }
}

.app-tab-content {
    padding-top: 10px;
}