.app-btn {
    // Reset & base style
    font-family: inherit;
    text-decoration: none;
    white-space: nowrap;
    font-size: 18px;
    max-width: 100%;
    cursor: pointer;
    box-sizing: border-box;

    // Display and align
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // Default styles
    border-radius: 8px;
    padding: 0 1.6rem;
    height: 50px;
    border: 0;
    background-color: $color-button;
    color: #fff;

    &:hover, &:focus {
        outline: none;
    }

    &.disabled, &[disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
}