.the-sider__logo {
    padding: 24px;
    display: block;
    background: #002140;

    h1 {
        line-height: 25px;
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
    }

    img {
        width: 80%;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .ant-menu-inline-collapsed & {
        padding: 12px;
        height: 86px;
    }
}