.resource-add {
    height: 100%;

    & > .ant-row {
        height: 100%;
    }
    
    .folder-column {
        padding-right: 35px;

        .folder-tree {
            .ant-tree-title {
                width: calc(100% - 24px);
                display: inline-block;

                .folder-item-title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    user-select: none;
                }
            }
        }
    }

    .resource-column {
        border-right: 1px solid #cecece;
        border-left: 1px solid #cecece;
        height: 100%;

        .resource-breadcrumb {
            border-bottom: 1px solid #cecece;
            padding: 20px 15px;
        }
        
        .resource-add {
            height: 90%;
            padding: 10px;
            margin: 0 -6px;

            & > div {
                height: 100%;
            }

            .resource-preview {
                padding: 0 6px;
                width: 100%;
                max-height: 100%;
            }

            .resource-add-card {
                margin: 0 6px;
                height: calc(100% - 20px);

                .ant-card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .upload-button {
                        display: block;
                        width: 100%;

                        .ant-upload.ant-upload-select.ant-upload-select-text {
                            width: 100%;
                        }
                    }
                }
            }

            .extract-question-list {
                max-height: 65vh;
                width: 100%;
                overflow: hidden;
                overflow-y: scroll;
            }
        }
    }

    .warning {
        .manual-add-question-form {
            .list-question-answer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                button {
                    border-radius: 4px;
                    width: 2.85rem;
                    height: 2.85rem;
                    border: 1px solid lightgray;
                    margin-bottom: 10px;
                    padding: 0;
                }
            }
        }
    }
}