.resources {
    height: 100%;
    max-height: 75vh;
    overflow: hidden;
    overflow-y: scroll;

    & > .ant-row {
        height: 100%;
    }
    
    .folder-column {
        padding-right: 35px;
        position: sticky;
        top: 0;

        .folder-tree {
            .ant-tree-title {
                width: calc(100% - 24px);
                display: inline-block;

                .folder-item-title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    user-select: none;
                }
            }
        }
    }

    .resource-column {
        border-left: 1px solid #cecece;

        .resource-breadcrumb {
            border-bottom: 1px solid #cecece;
            padding: 20px 15px;
            position: sticky;
            top: 0;
            z-index: 9;
            background-color: #ffffff;
        }

        .resource-list {
            & > div:first-child {
                padding: 15px;
                border-right: 1px solid #cecece;
            }

            .resource-action-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .resource-list-folder {
                margin: 0 -5px;

                a {
                    display: block;
                }

                .resource-list-folder-item {
                    margin: 0 5px 10px;
                    border-radius: 6px;
    
                    .ant-card-body {
                        padding: 12px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
    
                        p {
                            margin-bottom: 0;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .resource-list-file {
                margin: 0 -7px;

                a {
                    display: block;
                }

                .resource-list-file-item {
                    margin: 0 7px 14px;
                    border-radius: 6px;
                    
                    &.file-selected {
                        .ant-card-body {
                            background: rgb(245, 249, 252);
                        }
                    }

                    .ant-card-cover {
                        background: rgb(240, 242, 245);
                        padding: 12px 12px 0px;
                        height: 120px;

                        .resource-list-file-item-thumb {
                            height: 100%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
    
                    .ant-card-body {
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 12px;

                        .title {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
    
                            p {
                                margin-bottom: 0;
                                margin-left: 10px;
                            }
                        }
    
                        & > p {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .file-info-detail {
                position: sticky;
                top: 62px;
                z-index: 9;
                background-color: #ffffff;
                padding: 15px;

                .file-info {
                    border-bottom: 1px solid #cecece;
                    margin-bottom: 15px;

                    .file-info-title {
                        h3 {
                            margin: 0;
                        }

                        margin-bottom: 10px;
                    }
                    
                    .file-info-item {
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }
                }

                .file-add-to-classroom {
                    border-bottom: 1px solid #cecece;
                    margin-bottom: 15px;
                    
                    .file-add-to-classroom-item {
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        a {
                            color: #000000;
                            font-size: 16px;
                            transition: all .2s ease-in-out;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 100%;

                            &:hover {
                                background-color: rgba(206, 206, 206, 0.4);
                            }
                        }
                    }
                }

                .file-action {
                    border-bottom: 1px solid #cecece;
                    margin-bottom: 15px;
                    
                    .file-action-item {
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        a {
                            color: #000000;
                            font-size: 16px;
                            transition: all .2s ease-in-out;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 100%;

                            &:hover {
                                background-color: rgba(206, 206, 206, 0.4);
                            }
                        }
                    }
                }
            }
        }
    }

    .waiting-list {
        padding-left: 15px;

        .waiting-list-item {
            border-bottom: 1px solid rgba(206, 206, 206, 0.5);

            .waiting-list-item-action {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
            }
        }
    }
}

.modal-file-preview {
    .ant-modal-content {
        background: transparent;
    }
}

.ant-popover-inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;

    & > a {
        color: #000000;
        transition: all .2s ease-in-out;
        padding: 5px 15px;

        &:hover {
            background-color: rgba(206, 206, 206, 0.2);
        }
    }
}