.form-auth {
    width: 540px;
    max-width: 100%;
    padding: 30px;
    margin: 0 auto;
}

.form-auth__title {
    margin-bottom: 20px;
}

.form-auth__logo {
    width: 120px;
    max-width: 100%;
}