@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin trapezoid($width, $height, $sides, $color) {
    border-bottom: $height solid $color;
    border-left: $sides solid transparent;
    border-right: $sides solid transparent;
    height: 0;
    width: $width;
}

@mixin textWithTrapezoid($width, $height, $sides, $color) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $height;
    padding: 0 $sides;

    > * {
        position: relative;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        @include trapezoid($width, $height, $sides, $color);
    }
}

@mixin set-line($opts) {
	$setLineOpts: extend((
		'lineClamp': 1,
		'lineHeight': 1.12em,
		'fixedHeight': false,
	), $opts, true);

	$lineClamp: map-get($setLineOpts, 'lineClamp');
	$lineHeight: map-get($setLineOpts, 'lineHeight');
	$fixedHeight: map-get($setLineOpts, 'fixedHeight');

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp: $lineClamp;
	line-height: $lineHeight;
	overflow: hidden;
	text-overflow: ellipsis;

	@if $fixedHeight {
        height: $lineHeight * $lineClamp * 1em;
        max-height: unset;
	} @else {
		max-height: $lineHeight * $lineClamp * 1em;
	}
}

@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}