.file-preview-modal {
    .file-preview-modal-header {
        position: fixed;
        height: 4.5rem;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 8px 12px 0px;
        background-image: linear-gradient(rgb(0, 0, 0) 0%, transparent 100%);
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            font-size: 16px;
            color: #ffffff;
        }
    }
}