.file-upload-preview-modal {
    .preview-column {
        height: 100%;
        padding-right: 10px;

        .image-preview {
            height: 100%;

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
                object-position: top;
            }
        }
    }
    
    .action-column {
        height: 100%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .action-card {
            .ant-card-body {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & > i {
                    font-size: 50px;
                    color: #1E88E5;
                    flex: 1;
                    padding-right: 6px;
                }

                & > div {
                    padding-left: 6px;
                    flex: 1.3;
                }
            }
        }
    }
}