.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text--highlighted {
    color: $color-primary;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--primary {
    color: $color-primary;
}

.text--secondary {
    color: $color-secondary;
}

.text--success {
    color: $color-success;
}

.text--error {
    color: $color-error;
}

.text--info {
    color: $color-info;
}