@font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SF-Pro-Display/SF-Pro-Display-Light.otf');
    font-weight: 300;
    font-style: normal;
}