.student-table-groups {
    .student-table {
        padding-right: 15px;
        border-right: 1px solid #cecece;
    }
    .waiting-list {
        padding-left: 15px;

        .waiting-list-item {
            border-bottom: 1px solid rgba(206, 206, 206, 0.5);

            .waiting-list-item-action {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
            }
        }
    }
}